.is-ctl-product {
    background: #F4F5F6;
    .content-main {
        > .container {
            padding: 0;
            max-width: 100%;
        }
    }
    .container-main {
        padding: 0;
        min-height: initial;
    }
    .product-detail-content {
        margin: 0;
        .product-breadcrumb {
            padding: 0 10px;
            margin: 20px 0;
            font-size: 11px;
            line-height: 1;
            color: #000000;
            font-weight: 400;
            @media screen and(min-width: 48em) {
                padding: 0 50px;
                margin: 20px 0 35px;
            }
            a {
                font-size: 11px;
                line-height: 1;
                color: #000000 !important;
                font-weight: 400 !important;
                transition: 0.3s;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
    .product-detail-main {
        padding: 0 10px;
        margin: 0 auto;
        @media screen and(min-width: 48em) {
            padding: 0 50px;
        }
        @media screen and(min-width: 90em) {
            padding: 0;
            max-width: 1120px;
        }
        @media screen and(min-width: 110em) {
            padding: 0;
            max-width: 1510px;
        }
        > .product-detail-buy {
            margin: 20px 0 0;
            padding: 10px 10px 20px;
            background: #ffffff;
            box-shadow: 0px 1px 4px 0px #DADADA;
            @media screen and(min-width: 36em) {
                margin: 0 0 0 10px;
                width: calc(100% - 280px);
            }
            @media screen and(min-width: 48em) {
                margin: 0 0 0 20px;
                width: calc(100% - 345px);
                -ms-flex: 0 0 calc(100% - 345px);
                flex: 0 0 calc(100% - 345px);
                max-width: calc(100% - 345px);
                padding: 20px;
            }
            @media screen and(min-width: 90em) {
                margin: 0 0 0 20px;
                width: calc(50% - 20px);
                -ms-flex: 0 0 calc(50% - 20px);
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);
                padding: 20px;
            }
            @media screen and(min-width: 110em) {
                margin: 0 0 0 25px;
                width: calc(50% - 25px);
                -ms-flex: 0 0 calc(50% - 25px);
                flex: 0 0 calc(50% - 25px);
                max-width: calc(50% - 25px);
                padding: 30px 40px;
            }
        }
        > .product-detail-media {
            padding: 0;
            @media screen and(min-width: 36em) {
                width: 270px;
                min-width: 270px;
            }
            @media screen and(min-width: 48em) {
                width: 325px;
                min-width: 325px;
                -ms-flex: 0 0 325px;
                flex: 0 0 325px;
                max-width: 325px;
            }
            @media screen and(min-width: 90em) {
                margin: 0 20px 0 0;
                width: calc(50% - 20px);
                -ms-flex: 0 0 calc(50% - 20px);
                flex: 0 0 calc(50% - 20px);
                max-width: calc(50% - 20px);
            }
            @media screen and(min-width: 110em) {
                margin: 0 0 0 25px;
                width: calc(50% - 25px);
                -ms-flex: 0 0 calc(50% - 25px);
                flex: 0 0 calc(50% - 25px);
                max-width: calc(50% - 25px);
            }
        }
    }
    .product-detail-media {
        .gallery-slider-row {
            margin: 0;
        }
        .gallery-slider-col {
            padding: 0;
            @media screen and(min-width: 90em) {
                padding-left: 40px;
            }
            @media screen and(min-width: 110em) {
                padding-left: 40px;
            }
        }
        .gallery-slider-thumbnails-col {
            display: none;
            padding: 0;
            @media screen and(min-width: 90em) {
                display: block;
            }
            .gallery-slider-thumbnails-item {
                padding: 0;
                margin: 0 0 15px 0 !important;
                .gallery-slider-thumbnails-item-inner {
                    border: 0;
                    padding: 0;
                    overflow: hidden;
                    .gallery-slider-thumbnails-image {
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
                @media screen and(min-width: 110em) {
                    width: 105px;
                    height: 105px;
                    margin: 0 0 20px 0 !important;
                }
            }
        }
        .gallery-slider-item {
            height: 300px !important;
            min-height: 300px !important;
            @media screen and(min-width: 36em) {
                height: 270px !important;
                min-height: 270px !important;
            }
            @media screen and(min-width: 48em) {
                height: 325px !important;
                min-height: 325px !important;
            }
            @media screen and(min-width: 90em) {
                height: 420px !important;
                min-height: 420px !important;
            }
            @media screen and(min-width: 110em) {
                height: 580px !important;
                min-height: 580px !important;
            }
            .gallery-slider-image {
                object-fit: cover !important;
                min-width: 100%;
                min-height: 100%;
            }
        }
        .tns-inner {
            margin: 0;
        }
        .gallery-slider-controls {
            display: none;
        }
        .base-slider-dots {
            display: none;
        }
    }
    .product-detail-buy.js-magnifier-zoom-image-container {
        margin: 0;
    }
    .product-detail-name {
        font-family: 'NeutrifStudio', sans-serif;
        line-height: 1.2;
        font-size: 20px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    .product-detail-subtitle {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 15px;
        @media screen and(min-width: 90em) {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .product-detail-short-description {
        font-size: 12px;
        line-height: 16px;
        margin: 0 0 20px;
        @media screen and(min-width: 90em) {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .product-detail-table {
        .product-detail-table-row {
            display: flex;
            align-items: start;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            > .label {
                font-size: 12px;
                line-height: 16px;
                width: 100px;
                min-width: 100px;
                @media screen and(min-width: 90em) {
                    font-size: 14px;
                    line-height: 18px;
                    width: 115px;
                    min-width: 115px;
                }
            }
            > .content {
                width: 100%;
                font-size: 12px;
                line-height: 16px;
                @media screen and(min-width: 90em) {
                    font-size: 14px;
                    line-height: 18px;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
        .product-detail-table-status {
            .content > p {
                display: inline-block;
            }
        }
        .product-detail-table-delivery {
            .delivery-information {
                position: relative;
                padding-left: 20px;
                .delivery-status-indicator {
                    position: absolute;
                    left: 0px;
                    top: 4px;
                }
            }
        }
        .product-detail-table-ordernumber {}
        .product-detail-table-price {
            > .label {
                height: 24px;
                line-height: 30px;
            }
            .price, .price-ca {
                display: inline-block;
            }
            .price {
                display: inline-block;
                font-size: 18px;
                line-height: 24px;
                margin-right: 15px;
            }
            .product-detail-tooltip {
                vertical-align: text-bottom;
            }
        }
        .product-detail-table-price-kg {
            > .content {
                > div {
                    margin-bottom: 8px;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            @media screen and(min-width: 64em) {
                .product-detail-reference-container {
                    display: inline-block;
                    vertical-align: top;
                }
                .product-detail-billing-gram-container {
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 20px;
                }
            }
        }
        .product-detail-billing-gram-container {
            .product-detail-tooltip {
                margin: 0;
            }
        }
        .product-detail-tax-container {
            .product-detail-tax {
                font-size: 11px;
                .product-detail-tax-link {
                    color: $secondary;
                    transition: 0.3s;
                    text-decoration: underline;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }
    .product-detail-tooltip {
        position: relative;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        &.is--active {
            .content {
                display: block;
            }
        }
        &.text {
            width: initial;
            .icon {
                width: initial;
                padding-right: 20px;
                font-size: 11px;
            }
        }
        .icon {
            width: 16px;
            height: 16px;
            position: relative;
            cursor: pointer;
            &:after {
                content: "";
                background-color: #979797;
                background-image: url(../assets/img/icons/detail-tooltip-icon.svg);
                border-radius: 50%;
                cursor: pointer;
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.3s;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 0;
                right: 0;
            }
            &:hover {
                &:after {
                    background-color: #808080;
                }
            }
        }
        .content {
            display: none;
            position: absolute;
            font-size: 11px;
            line-height: 16px;
            padding: 10px;
            background: #ffffff;
            border: 1px solid #000000;
            width: 250px;
            right: -12px;
            bottom: 24px;
            &:after {
                content: "";
                width: 8px;
                height: 8px;
                border-left: 1px solid #000;
                border-bottom: 1px solid #000;
                position: absolute;
                display: block;
                right: 15px;
                transform: rotate(-45deg);
                bottom: -5px;
                background: #ffffff;
            }
        }
    }
    .product-detail-price-container {
        margin-top: 20px;
    }
    .product-detail-form-container {
        margin: 20px 0 0;
        .product--quantity {
            width: 100px;
            height: 40px;
            position: relative;
            border: 2px solid #000000;
            @media screen and(min-width: 90em) {
                height: 50px;
            }
            .product--quantity-action {
                &.minus {
                    background-image: url(../assets/img/icons/detail-quantity-minus.svg);
                    left: 10px;
                }
                &.plus {
                    background-image: url(../assets/img/icons/detail-quantity-plus.svg);
                    right: 10px;
                }
                position: absolute;
                top: 0;
                outline: 0;
                border: 0;
                background-color: transparent;
                width: 15px;
                padding: 0;
                height: 100%;
                background-size: 8px;
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
                transition: 0.3s;
                &:hover {
                    opacity: 0.5;
                }
                @media screen and(min-width: 90em) {
                    background-size: 10px;
                }
            }
            #productQuantityVal {
                position: absolute;
                text-align: center;
                border: 0;
                box-shadow: 0 0 0;
                width: 100%;
                height: 100%;
                font-size: 14px;
                font-weight: 400;
                padding: 0 0 2px 0;
                outline: 0;
                box-shadow: 0 0 0;
                top: 0px;
                left: 0px;
                background: transparent;
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                @media screen and(min-width: 90em) {
                    font-size: 15px;
                }
            }
        }
        .btn-buy {
            font-family: 'NeutrifStudio', sans-serif;
            font-size: 13px;
            letter-spacing: 0.0087em;
            font-weight: 700;
            border: 2px solid $primary;
            height: 40px;
            border-radius: 0;
            outline: 0;
            transition: 0.3s;
            cursor: pointer;
            background: transparent;
            color: $primary;
            width: 190px;
            padding: 0;
            line-height: 40px;
            text-transform: uppercase;
            @media screen and(min-width: 90em) {
                font-size: 15px;
                height: 50px;
                line-height: 50px;
                width: 220px;
            }
            &:hover {
                color: #ffffff;
                background: $primary;
            }
        }
        .form-row {
            margin: 0;
            .col-4, .col-8 {
                padding: 0;
            }
            .col-4 {
                width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                @media screen and(min-width: 62em) {
                    width: 100px;
                    -ms-flex: 0 0 100px;
                    flex: 0 0 100px;
                    max-width: 100px;
                    margin-right: 10px;
                }
            }
            .col-8 {
                margin-top: 10px;
                width: 100%;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                @media screen and(min-width: 62em) {
                    width: 190px;
                    -ms-flex: 0 0 190px;
                    flex: 0 0 190px;
                    max-width: 190px;
                    margin: 0px 10px 0px 0px;
                }
                @media screen and(min-width: 90em) {
                    width: 220px;
                    -ms-flex: 0 0 220px;
                    flex: 0 0 220px;
                    max-width: 220px;
                    margin: 0px 10px 0px 0px;
                }
            }
        }
    }

    .product-detail-tabs {
        @media screen and(max-width: 35.937em) {
            margin-top: 40px;
            .product-detail-tab-navigation {
                display: none;
            }
            .product-detail-tabs-content {
                display: block;
                padding: 0;
            }
            .tab-panel {
                background: #ffffff;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .tab-panel-head {
                    height: 40px;
                    line-height: 40px;
                    padding: 0px 10px;
                    font-family: 'NeutrifStudio', sans-serif;
                    font-size: 10px;
                    letter-spacing: 0.01em;
                    font-weight: 700;
                    transition: 0.3s;
                    user-select: none;
                    position: relative;
                    text-transform: uppercase;
                    &:after {
                        content: "";
                        background-image: url(../assets/img/icons/detail-tabs-arrow-down.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 10px;
                        height: 10px;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        margin-top: -5px;
                        transition: 0.3s;
                    }
                }
                .tab-panel-content {
                    display: none;
                    padding: 15px 10px;
                    border-top: 1px solid #f4f5f6;
                    h3 {
                        font-family: "NeutrifStudio", sans-serif;
                        font-size: 11px;
                        letter-spacing: .01em;
                        line-height: 15px;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin: 25px 0 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                    p {
                        font-size: 13px;
                        letter-spacing: .0005em;
                        line-height: 18px;
                        margin-bottom: 15px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .cols {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        .col {
                            padding: 0;
                            width: 100%;
                            flex-basis: initial;
                            &:nth-child(1) {

                            }
                            &:nth-child(2) {
                                margin-top: 15px;
                            }
                        }
                        img {
                            max-width: 100%;
                        }
                    }
                }
                &.open {
                    .tab-panel-head {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }
                    .tab-panel-content {
                        display: block;
                    }
                }
            }
        }
        @media screen and(min-width: 36em) {
            margin: 40px 0 0;
            overflow: hidden;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: #ffffff;
                width: 100%;
                top: 40px;
                left: 0px;
                height: calc(100% - 40px);
            }
            .product-detail-tab-navigation {
                padding: 0px 10px;
                border-radius: 0;
                border: 0;
                margin: 0;
            }
            .nav-item {
                margin: 0;
                width: 33.333%;
                text-align: center;
            }
            .nav-link {
                border: 0;
                height: 40px;
                padding: 0;
                line-height: 40px;
                font-family: "NeutrifStudio", sans-serif;
                font-size: 11px;
                letter-spacing: 0.01em;
                color: #000000;
                font-weight: 700;
                text-transform: uppercase;
                &.active {
                    background: #ffffff;
                    color: #000000;
                }
            }
            .product-detail-tabs-content {
                padding: 20px 10px 25px;
                display: block;
            }
            .tab-panel-head {
                display: none;
            }
            .tab-panel-content {
                h3 {
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    margin: 25px 0 15px;
                    &:first-child {
                        margin-top: 0;
                    }
                }
                p {
                    font-size: 13px;
                    line-height: 18px;
                    letter-spacing: 0.005em;
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .cols {
                    display: flex;
                    align-items: start;
                    flex-wrap: wrap;
                    .col {
                        padding: 0;
                        width: 100%;
                        flex-basis: initial;
                        &:nth-child(1) {
                            max-width: 50%;
                            padding-right: 10px;
                        }
                        &:nth-child(2) {
                            max-width: 50%;
                            padding-left: 10px;
                        }
                    }
                    img {
                        max-width: 100%;
                    }
                }
            }
            .tab-panel {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        @media screen and(min-width: 48em) {
            &:before {
                top: 60px;
                height: calc(100% - 60px);
            }
            .product-detail-tab-navigation {
                padding: 0 50px;
            }
            .product-detail-tab-navigation-list {
                justify-content: center;
            }
            .nav-item {
                width: 200px;
            }
            .nav-link {
                font-size: 13px;
                line-height: 60px;
                height: 60px;
            }
            .product-detail-tabs-content {
                padding: 40px 50px;
                max-width: 1120px;
                margin: 0 auto;
                h3 {
                    font-size: 15px;
                    line-height: 21px;
                }
                p {
                    font-size: 15px;
                    line-height: 21px;
                    margin-bottom: 20px;
                }
            }
        }
        @media screen and(min-width: 64em) {
            &:before {
                top: 70px;
                height: calc(100% - 70px);
            }
            .nav-link {
                line-height: 70px;
                height: 70px;
            }
            .product-detail-tabs-content {
                h3 {
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 30px;
                }
                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        @media screen and(min-width: 90em) {
            &:before {
                top: 90px;
                height: calc(100% - 90px);
            }
            .nav-link {
                line-height: 90px;
                height: 90px;
                font-size: 16px;
            }
            .nav-item {
                width: 260px;
            }
            .product-detail-tabs-content {
                padding: 70px 0;
                h3 {
                    font-size: 18px;
                    line-height: 24px;
                }
                p {
                    margin-bottom: 20px;
                    font-size: 18px;
                    line-height: 24px;
                }
                .cols {
                    align-items: center;
                }
            }
        }
    }

    .product-detail-cross-selling {
        padding: 0 10px;
        margin: 40px 0 0;
        @media screen and(min-width: 48em) {
            margin-top: 50px;
        }
        @media screen and(min-width: 90em) {
            padding: 0 25px;
        }
        .product-detail-cross-selling-row {
            margin-bottom: 40px;
            @media screen and(min-width: 48em) {
                margin-bottom: 50px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .product-detail-cross-selling-title {
            font-family: 'NeutrifStudio', sans-serif;
            font-size: 11px;
            letter-spacing: 0.001em;
            font-weight: 700;
            line-height: 15px;
            margin: 0 0 20px;
            text-align: center;
            text-transform: uppercase;
            @media screen and(min-width: 48em) {
                font-size: 13px;
                line-height: 17px;
                margin-bottom: 30px;
            }
            @media screen and(min-width: 90em) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        .product-detail-cross-selling-items {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0px -5px -10px;
            @media screen and(min-width: 90em) {
                margin: 0 -25px -20px;
            }
        }

    }
    .product-detail-cooking {
        background: #ffffff;
        padding: 80px 10px 0;
        margin-top: 40px;
        @media screen and(min-width: 48em) {
            padding: 120px 50px 0 10px;
            margin-top: 50px;
        }
        @media screen  and(min-width: 64em){
            padding: 140px 50px 0 10px;
        }
        @media screen  and(min-width: 90em){
            padding: 190px 170px 0 0;
        }
        .product-detail-cooking-content {
            @media screen and(min-width: 48em) {
                display: flex;
                align-items: start;
            }
            @media screen and(min-width: 90em) {
            }
        }
        .product-detail-cooking-image {
            height: 345px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: calc(100% - 50px);
            margin: 0 0 0 -10px;
            max-width: 300px;
            position: relative;
            @media screen and(min-width: 36em) {
                height: 375px;
            }
            @media screen and(min-width: 48em) {
                height: 500px;
                max-width: 370px;
            }
            @media screen and(min-width: 64em) {
                height: 564px;
                max-width: 423px;
            }
            @media screen and(min-width: 90em) {
                height: 787px;
                max-width: 590px;
                margin-left: 0;
            }
            @media screen and(min-width: 110em) {
                height: 1040px;
                max-width: 780px;
            }
            &:after {
                content: "";
                background-image: url(../assets/img/icons/detail-cooking-icon.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 100px;
                height: 100px;
                top: -50px;
                right: -50px;
                @media screen and(min-width: 48em) {
                    width: 120px;
                    height: 120px;
                    top: -60px;
                    right: -60px;
                }
                @media screen and(min-width: 64em) {
                    width: 140px;
                    height: 140px;
                    right: -70px;
                    top: -80px;
                }
                @media screen and(min-width: 90em) {
                    width: 180px;
                    height: 180px;
                    right: -90px;
                    top: -100px;
                }
            }
        }
        .product-detail-cooking-text {
            margin-top: 30px;
            @media screen and(min-width: 48em) {
                margin-top: 80px;
                padding-left: 20px;
            }
            @media screen and(min-width: 90em) {
                margin-top: 160px;
                padding-left: 40px;
            }
            @media screen and(min-width: 110em) {
                margin-top: 180px;
                padding-left: 50px;
            }
            h3 {
                font-family: 'NeutrifStudio', sans-serif;
                font-size: 10px;
                letter-spacing: 0.002em;
                line-height: 15px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 25px 0 10px;
                @media screen and(min-width: 36em) {
                    font-size: 11px;
                    line-height: 17px;
                }
                @media screen and(min-width: 48em) {
                    font-size: 13px;
                    margin: 30px 0 20px;
                    letter-spacing: 0.01em;
                }
                @media screen and(min-width: 64em) {
                    font-size: 16px;
                    line-height: 21px;
                    margin: 60px 0 25px;
                }
                &:first-child {
                    margin-top: 0;
                }
            }
            p {
                font-size: 13px;
                letter-spacing: 0.0005em;
                line-height: 18px;
                margin-bottom: 15px;
                @media screen and(min-width: 48em) {
                    font-size: 15px;
                    line-height: 21px;
                }
                @media screen and(min-width: 64em) {
                    font-size: 16px;
                    line-height: 22px;
                }
                @media screen and(min-width: 90em) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 25px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .product-detail-link-instagram {
        padding: 40px 10px 0;
        text-align: center;
        background: #ffffff;
        @media screen and(min-width: 36em) {
            padding-top: 60px;
        }
        @media screen and(min-width: 64em) {
            padding-top: 100px;
        }
        @media screen and(min-width: 90em) {
            padding-top: 120px;
        }
        @media screen and(min-width: 110em) {
            padding-top: 80px;
        }
        .product-detail-link-instagram-pc {
            display: none;
            text-align: center;
            margin-top: 50px;
            //@media screen and(min-width: 110em) {
            //    display: block;
            //}
            a {
                height: 50px;
                line-height: 48px;
                width: 180px;
                display: block;
                border: 2px solid #000;
                color: #000;
                -webkit-transition: .3s;
                transition: .3s;
                margin: 0px auto;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.001em;
                text-decoration: none;
                font-family: 'NeutrifStudio', sans-serif;
                &:hover {
                    background: #000000;
                    color: #ffffff;
                }
            }
        }
        .product-detail-link-instagram-title {
            font-family: 'NeutrifStudio', sans-serif;
            font-size: 18px;
            letter-spacing: 0.002em;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and(min-width: 36em) {
                font-size: 20px;
                line-height: 28px;
                br:nth-child(1) {
                    display: none;
                }
            }
            @media screen and(min-width: 48em) {
                font-size: 26px;
                line-height: 33px;
                letter-spacing: 0.003em;
            }
            @media screen and(min-width: 90em) {
                font-size: 34px;
                line-height: 46px;
                letter-spacing: 0.004em;
            }
        }
        .product-detail-link-instagram-device {
            margin-top: 30px;
            font-family: 'NeutrifStudio', sans-serif;
            font-size: 10px;
            letter-spacing: 0.002em;
            line-height: 15px;
            font-weight: 700;
            text-transform: uppercase;
            @media screen and(min-width: 36em) {
                margin-top: 40px;
            }
            @media screen and(min-width: 48em) {
                margin-top: 30px;
                font-size: 13px;
                line-height: 17px;
            }
            @media screen and(min-width: 90em) {
                margin-top: 35px;
                font-size: 16px;
                line-height: 21px;
            }
            @media screen and(min-width: 110em) {
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .footer-main {
        background: #ffffff;
    }
}


.cross-selling-product {
    width: calc(50% - 10px);
    margin: 0px 5px 10px;
    display: block;
    height: 145px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    @media screen and(min-width: 36em) {
        width: 130px;
        height: 130px;
    }
    @media screen and(min-width: 48em) {
        width: 155px;
        height: 155px;
    }
    @media screen and(min-width: 64em) {
        width: 155px;
        height: 155px;
        margin: 0 10px 10px;
    }
    @media screen and(min-width: 90em) {
        width: 170px;
        height: 170px;
        margin: 0 25px 20px;
    }
    &:before {
        content: "";
        background: #000000;
        opacity: 0;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
    &:hover {
        &:before {
            opacity: 0.4;
        }
        .cross-selling-product-top {
            top: 0;
        }
        .cross-selling-product-bottom {
            bottom: 0;
        }
    }
    .cross-selling-product-top, .cross-selling-product-bottom {
        position: absolute;
        left: 0;
        width: 100%;
        transition: 0.3s;
        padding: 10px;
    }
    .cross-selling-product-top {
        top: -100%;
        .product-action {
            margin: 0;
            float: right;
        }
        .btn-buy {
            width: 14px;
            height: 14px;
            padding: 0;
            border: 0;
            background-color: transparent;
            background-image: url(../assets/img/icons/detail-cross-selling-cart.svg);
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 0;
            font-size: 0;
            box-shadow: 0 0 0;
            outline: 0;
        }
    }
    .cross-selling-product-bottom {
        bottom: -100%;
        text-align: center;
        color: $primary;
        letter-spacing: 0.005em;
    }
    .cross-selling-product-title {
        font-size: 13px;
        line-height: 18px;
        margin: 0;
    }
    .cross-selling-product-price {
        font-size: 9px;
        line-height: 14px;
        margin: 0;
        span {
            font-size: 11px;
        }
    }
}

@media screen and(min-width: 768px) {
    #tablePreview {
        font-size: 18px;
    }
}

@media screen and (min-width: 1260px) {
    .is-ctl-navigation.is-act-index {
        .product-box.box-image {
            .product-image {
                min-height: 417px;
            }
        }
        .product-box {
            .product-image-wrapper {
                height: 417px;
            }
        }
        .listing-head .listing-title {
            width: 22%;
            margin-right: 6%;
        }
        .listing-head .listing-content {
            width: 72%;
        }
    }
    .is-ctl-navigation.is-act-index .cms-listing-col {
        width: 418px;
    }
}

@media screen and (min-width: 992px) {
    .is-ctl-navigation.is-act-index {
        .listing-head .listing-title {
            width: 22%;
            margin-right: 6%;
        }
        .listing-head .listing-content {
            width: 72%;
        }
    }
}
.product-slider-controls-container {
    .icon-arrow-head-right, .icon-arrow-head-left {
        position: relative;
        &:before {
            content: "";
            background-image: url(../assets/img/icons/arrow-head-right.svg);
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            background-size: contain;
        }
        svg {
            display: none;
        }
    }
    .icon-arrow-head-left {
        &:before {
            background-image: url(../assets/img/icons/arrow-head-left.svg);
            color: #000;
        }
    }
}

.product-slider-controls-prev {
    opacity: 1;
}
.cms-element-product-slider {
    .product-variant-characteristics {
        display: none;
    }
}

.home-products-text {
    .cms-element-text {
        max-width: 615px;
    }
}

.cms-sections {
    .section-bestellinfo-slider {
        @media screen and (min-width: 1440px) {
            margin-left: -50px;
            margin-right: -50px;
            .bestellinfo-slider-item {
                min-height: 960px;
            }
        }
        .base-slider-controls {
            height: 50px;
            position: relative;
            width: 110px;
            float: right;
            right: 45px;
            bottom: 70px;
        }
        .base-slider-controls-prev, .base-slider-controls-next {
            display: block !important;
            svg {
                color: #fff;
                min-width: 40px;
                min-height: 40px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .section-bestellinfo-images {
        margin-left: -50px;
        margin-right: -50px;
        .bestellinfo-images-cols {
            .col-md-6:first-child .cms-element-image .cms-image-container {
                max-height: 863px;
                height: 863px;
            }
            .col-md-6:last-child {
                width: 45%;
                margin: 180px 0 0 -15% !important;
                .cms-element-image .cms-image-container {
                    max-height: 520px;
                    height: 520px;
                }
            }
        }
    }
}
