.is-ctl-navigation {
    .breadcrumb {
        display: none;
    }

    .look-image-text, .look-image-text-reverse {
        @media (min-width: 1024px) {
            .col-md-6:first-child {
                min-width: 58.33333333%;
            }
            .col-md-6:last-child {
                max-width: 41.66666667%;
            }
        }
    }

    .look-image-text, .look-image-text-reverse, .making-text {
        .emotion--html {
            .html--title {
                font-size: 28px;
                color: #000000;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.05em;
                margin: 0px 0px 20px;
                &:after {
                    content: "";
                    width: 60px;
                    height: 1px;
                    background: $black;
                    display: block;
                    margin: 20px 0px;
                }
            }

            .html--content {
                p {
                    font-size: 16px;
                    line-height: 28px;
                    color: #000000;
                    margin: 0px 0px 20px;
                }

                h3 {
                    font-weight: 400;
                    font-size: 21px;
                    margin: 30px 0px 20px;
                }
            }
        }
    }
    .look-banner {
        h1 {
            color: $white;
            font-size: 32px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.05em;
            margin: 0px;
            &:after {
                content: "";
                width: 60px;
                height: 1px;
                background: $white;
                display: block;
                margin: 20px auto;
            }
        }
        .move-down {
            position: absolute;
            left: 50%;
            bottom: -440px;
            width: 40px;
            height: 40px;
            margin: 0px 0px 0px -20px;
            border: 0px;
            padding: 0px;
            background: url(../assets/icons/arrow.svg);
            transform: rotate(90deg);
            background-color: initial;
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center right;
            outline: 0px;
            transition: 0.3s;
        }
    }
    .look-image-text {
        .cms-block-image-text-cover {
            .cms-element-text {
                padding-top: 0px;
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
    .look-four-element {
        .cms-block-text-two-column {
            height: 610px;
            position: relative;
            top: -630px;
            margin-bottom: -610px;
            .cms-block-container, .row {
                height: 100%;
            }
            .row {
                height: 100%;
                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                }
            }
            .emotion-banner-category-content {
                * {
                    color: $white;
                }
                .btn {
                    &:hover {
                        color: $black;
                        background: $white;
                    }
                }
                h2 {
                    font-size: 28px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.05em;
                    margin: 0px 0px 15px;
                    &:after {
                        content: "";
                        width: 60px;
                        height: 1px;
                        background: $white;
                        display: block;
                        margin: 20px auto 0px;
                    }
                }
                p {
                    font-size: 16px;
                    line-height: 28px;
                    margin: 0px 0px 20px;
                }
            }
        }
    }
}

.cms-block {
    .btn {
        @include btn-white;
    }
}
.look-banner-bgc {
    .image-slider-item {
        background: #E9E9E9;
        img {
            mix-blend-mode: darken;
        }
    }
    .emotion-banner-category-content {
        text-align: center;
        h2 {
            font-size: 28px;
            color: #000000;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.05em;
            margin: 0px 0px 15px;
            &:after {
                content: "";
                width: 60px;
                height: 1px;
                background: #000000;
                display: block;
                margin: 20px auto 0px;
            }
        }
        p {
            font-size: 16px;
            line-height: 28px;
            color: #000000;
            margin: 0px 0px 20px;
        }
        .btn {
            @include btn-black;
        }
    }
    .is--right_bottom {
        .wrapper-image-text {
            position: absolute;
            right: 22%;
            bottom: 50%;
            transform: translate(22%, 50%);
        }
    }
}
