.making-four-image {
  .cms-image-container {
    position: relative;
    &:before {
      content: "";
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: url(../assets/icons/search.svg);
      background-color: rgba(0,0,0,0.4);
      background-size: 40px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: 0.4s;
      position: absolute;
      z-index: 1;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}



.container-row {
  flex-direction: row-reverse;
}

.look-image-text-reverse {
  .cms-element-text {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .cms-block {
    .cms-block-container {
      .cms-block-container-row {
        flex-direction: row-reverse;
      }
    }
  }
}


.is-ctl-navigation {
  .look-image-text-reverse {
    .cms-element-text {
      .emotion--html {
        .html--title {
          &:after {
            margin: 20px auto;
          }
        }
      }
    }
  }
}

body {
  .fancybox-navigation .fancybox-button {
    top: calc(0%);
    z-index: 99997;
  }
  .fancybox-toolbar {
    z-index: 99999;
  }
}

.making-video {
  @media (min-width: 1025px) {
    .cms-section-sidebar-sidebar-content {
      min-width: 41.66666667%;
    }
    .cms-section-sidebar-main-content {
      max-width: 58.33333333%;
      .cms-element-text {
        margin-top: 30px;
      }
    }
  }
  @media (min-width: 1024px) {
    .cms-section-sidebar-sidebar-content {
      min-width: 100%;
    }
    .cms-section-sidebar-main-content {
      min-width: 100%;
      .cms-element-text {
        margin-top: 30px;
        padding: 0 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .cms-block-image-two-column {
    .cms-block-container {
      padding: 0;
    }
  }
    .cms-block-container {
      margin: 0 0 30px !important;
      padding: 0 20px;
  }
  .look-image-text {
    .cms-block-container {
      padding: 0 !important;
    }
    .cms-element-image {
      .cms-image-container {
        min-height: 500px !important;
      }
    }
    .cms-element-text {
      padding: 0 20px;
    }
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .making-four-image {
    .col-md-3 {
      margin-bottom: 30px;
      -ms-flex: 0 0 25%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
