.cms-block-slider-image-text {
  overflow: hidden;
  position: relative;

  .base-slider-controls {
    position: absolute;
    bottom: 20px;
    right: 100px;

    .image-slider-controls-prev, .base-slider-controls-next {
      left: 0;
      bottom: 0px;
      font-size: 0px;
      height: 40px;
      width: 40px;
      background-color: rgba(255, 255, 255, 1);
      border: 0px;
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
      outline: 0px;
      z-index: 1;
      transition: 0.3s;
      border-radius: 0;

      .icon {
        color: #2D2C2C;
      }
    }

    .image-slider-controls-prev {
      left: -40px;
    }
  }

  .wrapper-image-text {
    position: absolute;
    left: 60px;
    max-width: 350px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1, h2 {
      font-size: 32px;
      color: $white;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.15em;
      position: relative;
      &:after {
        content: "";
        width: 60px;
        height: 1px;
        background: #ffffff;
        display: block;
        bottom: -20px;
        position: absolute;
      }
    }
    .btn {
      @include btn-white-home;
    }
    p:nth-child(2) {
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin: 30px 0px 25px;
      text-align: left;
    }
    @media (max-width: 480px) {
      left: 20px;
      p:nth-child(2) {
        font-size: 12px;
      }
      h1, h2 {
        font-size: 24px;
      }
    }
  }

  @media (max-width: 1024px) {
    .tns-ovh, .image-slider-item {
      min-height: 600px;

      img {
        min-height: 600px;
      }
    }
  }

  @media (max-width: 768px) {
    .cms-block-slider-image-text {
      .tns-ovh, .image-slider-item {
        max-height: 600px;
        img {
          max-height: 600px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .base-slider-controls {
      position: absolute;
      bottom: 20px;
      right: 80px;
    }
  }

  .tns-ovh, .image-slider-item {
    max-height: 100vh;
    height: auto !important;

    img {
      max-height: 100vh;
      object-fit: cover;
    }
  }
  .col-12 {
    padding: 0;
  }
}

//home text center slider left content
.text-center {
  .cms-block-slider-image-text {
    .wrapper-image-text {
      bottom: 50%;
      transform: translate(0, 50%);
    }
  }
}

//look slider banner
.look-banner {
  .cms-block-slider-image-text {
    .wrapper-image-text {
      position: absolute;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      width: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      left: 50%;
      justify-content: center;
      align-items: center;
      min-width: 300px;
    }
  }
  h1 {
    color: $white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0px;
    position: relative;
    &:after {
      content: "";
      width: 60px;
      height: 1px;
      background: $white;
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: 15px;
    }
  }
  .move-down {
    position: absolute;
    left: 50%;
    bottom: -23vh;
    width: 40px;
    height: 40px;
    margin: 0px 0px 0px -20px;
    border: 0px;
    padding: 0px;
    background: url(../assets/icons/arrow.svg);
    transform: rotate(90deg);
    background-color: initial;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center right;
    outline: 0px;
    transition: 0.3s;
  }
}

//look slider with change image
.is-ctl-navigation {
  .look-banner-bgc {
    .cms-block-slider-image-text {
      @media (min-width: 1024px) {
        padding: 0 30px;
      }
    }
    .image-slider-item {
      background: #E9E9E9;
      img {
        mix-blend-mode: darken;
      }
    }
    .cms-block-slider-image-text {
      .wrapper-image-text {
        position: absolute;
        bottom: 50%;
        transform: translate(0%, 50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        left: auto;
        right: 0;
        min-width: 50%;
        @media (max-width: 768px) {
          left: 0;
        }
        h1, h2 {
          font-size: 28px;
          color: #000000;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.05em;
          margin: 0px 0px 30px;
          &:after {
            content: "";
            width: 60px;
            height: 1px;
            background: #000;
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -15px;
          }
        }
        p {
          text-transform: unset;
          font-size: 16px;
          line-height: 28px;
          color: #000000;
          margin: 0px 0px 20px;
        }
        .btn {
          @include btn-black;
        }
      }
    }
  }
}

