.cookie-permission-container {
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 10px;
    .container {
        padding: 0;
    }
    .row {
        margin: 0;
        align-items: center !important;
        justify-content: center;
    }
    .col {
        padding: 0;
        flex-basis: initial;
        flex-grow: initial;
        max-width: initial;
        width: initial;
    }
    .cookie-permission-content {
        font-family: 'NeutrifStudio', sans-serif;
        font-weight: 700;
        font-size: 11px;
        line-height: 16px;
        text-transform: uppercase;
        @media screen and(min-width: 90em) {
            font-size: 14px;
        }
        @media screen and(min-width: 120em) {
            font-size: 16px;
        }
    }
    .btn {
        border: 2px solid #000;
        font-weight: 700;
        letter-spacing: .01em;
        padding: 0;
        text-transform: uppercase;
        bottom: 40px;
        -webkit-transition: .3s;
        transition: .3s;
        font-family: "NeutrifStudio", sans-serif;
        border-radius: 0;
        width: 100px;
        font-size: 10px;
        height: 30px;
        line-height: 28px;
        margin: 0 4px;
        background: #ffffff;
        color: #000000;
        @media screen and(min-width: 90em) {
            font-size: 12px;
            height: 35px;
            width: 130px;
            line-height: 35px;
        }

        &:hover {
            background: #000000;
            color: #ffffff;
        }
    }

}
