{% sw_extends '@Storefront/storefront/block/cms-block-image-text-row.html.twig' %}
{% block block_image_text_row %}
    {% set columns = 3 %}
    {% set id = element.id %}

    {% block block_image_text_row_left %}
        <div class="col-md-12 banner-full">
            {% block block_image_text_row_left_image %}
                {% set element = block.slots.getSlot('left-image') %}

                <div data-cms-element-id="{{ id }}">
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            {% endblock %}

           <div class="text">
               {% block block_image_text_row_left_text %}
                   {% set element = block.slots.getSlot('left-text') %}

                   <div data-cms-element-id="{{ id }}">
                       {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                   </div>
               {% endblock %}
           </div>
        </div>
    {% endblock %}
{% endblock %}
