{% block sw_cms_block_image_text_row %}
    <div class="sw-cms-block-image-text-row-one">
        <div class="sw-cms-block-image-text-row__left">
            <slot name="left-image"></slot>
            <div class="component-text">
                <slot name="left-text"></slot>
            </div>
        </div>
    </div>
{% endblock %}
